---
const { title } = Astro.props;
import { ViewTransitions } from 'astro:transitions';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='../fly-farm/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content="Discover Modern Farming Solution with Drone Technology!">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://rifkyalamsyah.github.io/fly-farm">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Flyfarm | Landing page">
  <meta property="og:description" content="Discover Modern Farming Solution with Drone Technology!">
  <meta property="og:image" content="">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="rifkyalamsyah.github.io">
  <meta property="twitter:url" content="https://rifkyalamsyah.github.io/fly-farm">
  <meta name="twitter:title" content="Flyfarm | Landing page">
  <meta name="twitter:description" content="Discover Modern Farming Solution with Drone Technology!">
  <meta name="twitter:image" content="">
  <ViewTransitions />
  </head>
  <body>
    <slot />
    
  </body>
</html>

<style>
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&display=swap');

:root {
  /* color */
  --black: #101010;
  --white: #ffffff;
  --dark-grey: #6b6b6b;
  --grey: #fafafa;
  --yellow: #fbe17e;
}

html {
  scroll-behavior: smooth;
  font-family: 'DM Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--grey);
}
</style>